<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/jsrender.js"></script>

</head>
<body>
    <script type="text/javascript">
        $(function () {
            $("#search-form").submit(function (ev) {
                ev.preventDefault();

                var keyWord = $("#keyWord").val();

                if (!keyWord)
                    return false;

                $.ajax({
                    url: "/TGoogle/Search/",
                    type: 'GET',
                    data: { keyWord: keyWord },
                    success: showResult,
                    error: function (jqXHR, status, err) {
                        alert('error: ', jqXHR.responseText);
                    }
                });

                return false;
            });

            function showResult(data) {
                var htmlString = $("#search-template").render(data.results);
                $("#resultList").html(htmlString);
            }
        })
    </script>
    <div class="container">
        <form id="search-form">
            <input type="text" id="keyWord" value="sometext" />
            <input type="submit" value="Search" />
        </form>

        <div>
            <ol id="resultList"></ol>
        </div>
    </div>
    
    <script id="search-template" type="text/x-jsrender ">
        <li>
            <div>
                <h3><a href="{{:url}}">{{:title}}</a></h3>
                <div>
                    {{:url}}
                    <br/>
                    {{:content}}
                </div>
            </div>
        </li>
    </script>
</body>
</html>
