@{
    ViewBag.Title = "TGoogle";
}

<div class="container">
    <form id="search-form">
        <input type="text" id="key-word" value="sometext" />
        <input type="submit" value="Search" />
    </form>

    <div>
        <ol id="resultList"></ol>
    </div>
</div>

<script id="search-template" type="text/x-jsrender ">
    <li>
        <div>
            <h3><a href="{{:url}}">{{:title}}</a></h3>
            <div>
                {{:url}}
                <br/>
                {{:content}}
            </div>
        </div>
    </li>
</script>


<script type="text/javascript">
    $(function () {
        $("#search-form").submit(function (ev) {
            ev.preventDefault();

            var keyWord = $("#key-word").val();

            if (!keyWord)
                return false;

            $.ajax({
                url: "/TGoogle/Search/",
                type: 'GET',
                data: { keyWord: keyWord },
                success: showResult,
                error: function (jqXHR, status, err) {
                    //alert('error: ', jqXHR.responseText);
                }
            });

            return false;
        });

        function showResult(data) {
            var htmlString = $("#search-template").render(data.results);
            $("#resultList").html(htmlString);
        }
    })
</script>